* {
  font-family: sans-serif;
}
.contenedor {
  /* background-color: aquamarine; */
  max-width: 120em;
  width: 90%;
  padding: 1em;
  margin: 5em auto;

  border-radius: 20px;
  background: #e3e3e3;
  box-shadow: 20px 20px 60px #c1c1c1, -20px -20px 60px #ffffff;
}
.contenedor .ul {
  width: 100%;
  /* background-color: azure; */
  list-style: none;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.contenedor .li {
  /* background-color: blue; */
  padding: 1em;
  margin: 0 2em 0 0;
  transition: all 0.5s ease;
  cursor: pointer;

  border-radius: 20px;
  background: #e3e3e3;
  box-shadow: 20px 20px 60px #c1c1c1, -20px -20px 60px #ffffff;
}
.contenedor .li.activo {
  background-color: salmon;
  color: white;
}
.contenedor .subcontenedor {
  min-height: 10vh;
  /* background-color: brown; */
  position: relative;
}
.contenedor .bloque {
  /* background-color: azure; */
  margin: 1em;
  padding: 1em;
  position: absolute;
  top: 1em;
  opacity: 0;
  transition: all 0.5s ease;
  transform: translateX(100%);

  border-radius: 20px;
  background: #e3e3e3;
  box-shadow: 20px 20px 60px #c1c1c1, -20px -20px 60px #ffffff;
}
.contenedor .bloque.activo {
  opacity: 1;
  transform: translateX(0%);
}
