@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Inconsolata", sans-serif;
}

body {
  background-color: #ffffff;
  font-family: sans-serif;
}

header {
  background-color: #2f49dd;
  color: white;
  font-weight: bold;
  padding: 1em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
header .fas {
  font-size: 2em;
  margin: 0 1em 0 0;
}

main {
  margin: 1em;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

main .dni {
  margin: 1em auto;
  padding: 0.5em 1em;
  width: 30%;
  font-size: 2.25em;
  text-align: center;
  color: #3f3f3f;
  border: none;
  border-radius: 50px;
  background: #ededed;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
main .dni:focus, .dni:hover {
  outline: none;
  box-shadow: 20px 20px 60px #949494, -20px -20px 60px #ffffff;
}
main .dni::placeholder {
 color: #999999;
}


.dni.correcto {
  background-color: #7bd57b;
  color: white;
}
.dni.incorrecto {
  background-color: #d05d5d;
  color: white;
}

main .msg {
    font-weight: 800;
    color: #3f3f3f;
}

main .button {
  background-color: #5f71d8;
  box-shadow: 2px 2px 10px #8e99d7;
  border: none;
  border-radius: 50px;
  color: white;
  padding: 15px 32px;
  margin: 1em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}
main .button:hover {
  background-color: #4c579a;
}
